@font-face {
    font-family: SolwayRegular;
    src: url(/assets/Solway-Regular.ttf);
    font-weight:800
}

@font-face {
    font-family: SolwayBold;
    src: url(/assets/Solway-Bold.ttf);
}

body {
    text-align: center;
    font-size: 20px;
    padding:2.5%;
    font-family: 'SolwayRegular';
}

h1,h2,h3,h4,h5{
    font-family: 'SolwayBold';
}