@font-face {
    font-family: SolwayRegular;
    src: url(./assets/roboto-condensed.light.ttf);
    font-weight:800
}

@font-face {
    font-family: SolwayBold;
    src: url(./assets/Roboto-Regular.ttf);
}

body {
    text-align: center;
    font-size: 20px;
    padding:2.5%;
    font-family: 'SolwayRegular';
    background-color: whitesmoke;
    color: black;
}

h1,h2,h3,h4,h5{
    font-family: 'SolwayBold';
}

.profileImage {
    width:150px;
    height:150px;
    border-radius: 75px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}


.title-fade-out {
    opacity:0;
    animation-name :fade-out;
    animation-duration: 2s;
}

.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-out {
    from {opacity:100}
    to {opacity:0}
}


@keyframes fade-in {
    from {opacity : 0}
    to {opacity : 100}
}


a {
    color: black;
  }
  a:hover {
     color: darkslategrey;
  }

 
  
